.case_center {
  width: 1124px;
  margin: 0 auto;
  overflow: hidden;
}
.case_center .case {
  display: -ms- flex;
  display: -webkit- flex;
  display: -o- flex;
  display: -moz- flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.case_center .case .case_left {
  width: 298px;
}
.case_center .case .case_left .case_left_top {
  border-left: 1px solid #497d91;
  position: relative;
}
.case_center .case .case_left .case_left_top .svgicon {
  position: absolute;
  left: -6px;
  top: 0;
}
.case_center .case .case_left .case_left_top ul {
  margin-left: 16px;
  width: 270px;
}
.case_center .case .case_left .case_left_top ul li {
  display: -ms- flex;
  display: -webkit- flex;
  display: -o- flex;
  display: -moz- flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.case_center .case .case_left .case_left_top ul li .clt_div p:nth-of-type(1) {
  color: #789ea0;
  font-size: 6px;
}
.case_center .case .case_left .case_left_top ul li .clt_div p:nth-of-type(2) {
  color: #f8a94c;
  font-size: 28px;
}
.case_center .case .case_left .case_left_top ul li .clt_divtwo {
  position: relative;
}
.case_center .case .case_left .case_left_top ul li .clt_divtwo .clt_div_num {
  position: absolute;
  color: #d0f8fc;
  top: 15px;
  right: 12px;
  font-size: 18px;
}
.case_center .case .case_left .case_left_top ul li:nth-of-type(2) {
  margin-top: 16px;
}
.case_center .case .case_left .case_left_center {
  margin-top: 28px;
}
.case_center .case .case_left .case_left_center .clc_center_wipe {
  border-left: 1px solid #497d91;
  position: relative;
}
.case_center .case .case_left .case_left_center .clc_center_wipe .svgicon {
  position: absolute;
  left: -6px;
  top: 0;
}
.case_center .case .case_left .case_left_center .clc_center_wipe .clc_center {
  margin-left: 32px;
  width: 254px;
  display: -ms- flex;
  display: -webkit- flex;
  display: -o- flex;
  display: -moz- flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.case_center .case .case_left .case_left_center .clc_center_wipe .clc_center .clc_center_left {
  padding-bottom: 12px;
}
.case_center .case .case_left .case_left_center .clc_center_wipe .clc_center .clc_center_left P {
  color: #789ea0;
  font-size: 6px;
}
.case_center .case .case_left .case_left_center .clc_center_wipe .clc_center .clc_center_left .progress {
  width: 168px;
  height: 6px;
  margin-top: 8px;
  border: 1px solid #2b4852;
}
.case_center .case .case_left .case_left_center .clc_center_wipe .clc_center .clc_center_left .progress span {
  display: block;
  width: 90px;
  height: 6px;
  background: #f8a94c;
}
.case_center .case .case_left .case_left_center .clc_center_wipe:nth-of-type(2) {
  margin-top: 28px;
}
.case_center .case .case_left .case_left_bottom {
  width: 220px;
  height: 176px;
  margin: 24px auto 0;
}
.case_center .case .case_left .case_left_bottom img {
  width: 100%;
  height: 100&;
}
.case_center .case .case_right {
  width: 790px;
  overflow: hidden;
}
.case_center .case .case_right .case_right_top {
  width: 100%;
  display: -ms- flex;
  display: -webkit- flex;
  display: -o- flex;
  display: -moz- flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.case_center .case .case_right .case_right_top .case_bodyimg {
  position: relative;
  width: 570px;
  height: 406px;
}
.case_center .case .case_right .case_right_top .case_bodyimg img {
  width: 100%;
  height: 100%;
}
.case_center .case .case_right .case_right_top .case_bodylist {
  width: 200px;
}
.case_center .case .case_right .case_right_top .case_bodylist .bodylist_top {
  width: 180px;
  height: 30px;
  background: url(../img/case_top.png) no-repeat;
  background-size: 100% 100%;
  color: #d0f8fc;
  font-size: 16px;
  padding-top: 7px;
  padding-left: 20px;
}
.case_center .case .case_right .case_right_top .case_bodylist .bodylist_bot {
  position: relative;
  width: 200px;
  height: 367px;
}
.case_center .case .case_right .case_right_top .case_bodylist .bodylist_bot .case_bot {
  display: inline-block;
  width: 30px;
  height: 367px;
}
.case_center .case .case_right .case_right_top .case_bodylist .bodylist_bot .case_list {
  position: absolute;
  width: 188px;
  height: 370px;
  overflow: hidden;
  top: 0;
  right: 0px;
}
.case_center .case .case_right .case_right_top .case_bodylist .bodylist_bot .case_list ul {
  width: 180px;
}
.case_center .case .case_right .case_right_top .case_bodylist .bodylist_bot .case_list ul li {
  width: 180px;
  font-weight: 500;
  font-size: 8px;
  margin-bottom: 26px;
  color: #81a9ac;
}
.case_center .case .case_right .case_right_top .case_bodylist .bodylist_bot .case_list ul li .case_list_left {
  width: 160px;
}
.case_center .case .case_right .case_right_top .case_bodylist .bodylist_bot .case_list ul li .case_list_right {
  width: 20px;
  font-size: 12px;
  color: #f8a94c;
}
.case_center .case .case_right .case_right_bottom {
  margin-top: 50px;
}
.case_center .case .case_right .case_right_bottom .case_right_vr {
  width: 74px;
}
.case_center .case .case_right .case_right_bottom .case_right_vr p {
  font-size: 54px;
  color: #9bccce;
}
.case_center .case .case_right .case_right_bottom .case_right_vr p:nth-of-type(1) {
  width: 72px;
  border: 1px solid #497d91;
}
.case_center .case .case_right .case_right_bottom .case_right_vr p:nth-of-type(1) span {
  display: inline-block;
  width: 50px;
  height: 8px;
  background: #f8a94c;
}
.case_center .case .case_right .case_right_bottom .case_right_text {
  width: 282px;
  margin-left: 24px;
}
.case_center .case .case_right .case_right_bottom .case_right_text img {
  display: inline-block;
  width: 9px;
  height: 78px;
  vertical-align: top;
  margin-right: 10px;
}
.case_center .case .case_right .case_right_bottom .case_right_text span {
  display: inline-block;
  width: 258px;
  font-size: 16px;
  padding-top: 20px;
  color: #d0f8fc;
}
.case_center .case .case_right .case_right_bottom .case_right_rate .rate_right {
  position: relative;
}
.case_center .case .case_right .case_right_bottom .case_right_rate .rate_right img {
  display: block;
  width: 49px;
  height: 85px;
}
.case_center .case .case_right .case_right_bottom .case_right_rate .rate_right .rate_right_num {
  position: absolute;
  color: #d0f8fc;
  font-size: 24px;
  top: 0;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
