.corps_center {
  width: 89% !important;
}
.corps_center .case {
  display: -ms- flex;
  display: -webkit- flex;
  display: -o- flex;
  display: -moz- flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.corps_center .case .case_left {
  width: 298px;
}
.corps_center .case .case_left .case_left_top {
  border-left: 1px solid #497d91;
  position: relative;
}
.corps_center .case .case_left .case_left_top .svgicon {
  position: absolute;
  left: -6px;
  top: 0;
}
.corps_center .case .case_left .case_left_top ul {
  margin-left: 16px;
  width: 270px;
}
.corps_center .case .case_left .case_left_top ul li {
  display: -ms- flex;
  display: -webkit- flex;
  display: -o- flex;
  display: -moz- flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.corps_center .case .case_left .case_left_top ul li .clt_div p:nth-of-type(1) {
  color: #789ea0;
  font-size: 6px;
}
.corps_center .case .case_left .case_left_top ul li .clt_div p:nth-of-type(2) {
  color: #f8a94c;
  font-size: 28px;
}
.corps_center .case .case_left .case_left_top ul li .clt_divtwo {
  position: relative;
}
.corps_center .case .case_left .case_left_top ul li .clt_divtwo .clt_div_num {
  position: absolute;
  color: #d0f8fc;
  top: 15px;
  right: 12px;
}
.corps_center .case .case_left .case_left_top ul li:nth-of-type(2) {
  margin-top: 40px;
}
.corps_center .case .case_left .case_left_center {
  margin-top: 56px;
}
.corps_center .case .case_left .case_left_center .clc_center_wipe {
  border-left: 1px solid #497d91;
  position: relative;
}
.corps_center .case .case_left .case_left_center .clc_center_wipe .svgicon {
  position: absolute;
  left: -6px;
  top: 0;
}
.corps_center .case .case_left .case_left_center .clc_center_wipe .clc_center {
  margin-left: 32px;
  width: 254px;
  display: -ms- flex;
  display: -webkit- flex;
  display: -o- flex;
  display: -moz- flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.corps_center .case .case_left .case_left_center .clc_center_wipe .clc_center .clc_center_left {
  padding-bottom: 12px;
}
.corps_center .case .case_left .case_left_center .clc_center_wipe .clc_center .clc_center_left P {
  color: #789ea0;
  font-size: 6px;
}
.corps_center .case .case_left .case_left_center .clc_center_wipe .clc_center .clc_center_left .progress {
  width: 168px;
  height: 6px;
  margin-top: 8px;
  border: 1px solid #2b4852;
}
.corps_center .case .case_left .case_left_center .clc_center_wipe .clc_center .clc_center_left .progress span {
  display: block;
  width: 90px;
  height: 6px;
  background: #f8a94c;
}
.corps_center .case .case_left .case_left_center .clc_center_wipe:nth-of-type(2) {
  margin-top: 28px;
}
.corps_center .case .case_left .case_left_bottom {
  width: 272px;
  margin: 56px auto 0;
}
.corps_center .case .case_right {
  width: 1370px;
}
.corps_center .case .case_right .case_right_top {
  width: 100%;
  display: -ms- flex;
  display: -webkit- flex;
  display: -o- flex;
  display: -moz- flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.corps_center .case .case_right .case_right_top .case_bodyimg {
  position: relative;
  width: 992px;
  height: 550px;
}
