@import 'publicless.less';
.case_center{
	width: 1124px;
	margin:0 auto;
	overflow: hidden;
	.case{
		.page-wrap;
		.justifycontent;
		.case_left{
			width: 298px;
			.case_left_top{
				border-left: 1px solid #497d91;
				position: relative;
				.svgicon{
					position: absolute;
					left: -6px;
					top:0;
				}
				ul{
					margin-left: 16px;
					width: 270px;
					li{
						.page-wrap;
						.justifycontent;

						.clt_div{
							
							p:nth-of-type(1){
								color: #789ea0;
								font-size: 6px;
							}
							p:nth-of-type(2){
								color: #f8a94c;
								font-size: 28px;
							}
							
						}
						.clt_divtwo{
							position: relative;
							.clt_div_num{
								position: absolute;
								color:#d0f8fc;
								top:15px;
								right: 12px;
								font-size: 18px;
							}
						}
					}
					li:nth-of-type(2){
						margin-top: 16px;
					}
				}
			}
			.case_left_center{
				margin-top: 28px;
				.clc_center_wipe{
					border-left: 1px solid #497d91;
					position: relative;
					
					.svgicon{
						position: absolute;
						left: -6px;
						top:0;
					}
					.clc_center{
						margin-left: 32px;
						width: 254px;
						.page-wrap;
						.justifycontent;
						.clc_center_left{
							padding-bottom: 12px;
							P{
								color: #789ea0;
								font-size: 6px;
							}
							.progress{
								width: 168px;
								height: 6px;
								margin-top: 8px;
								border: 1px solid #2b4852;
								span{
									display: block;
									width: 90px;
									height: 6px;
									background: #f8a94c;
								}
							}
						}
						
					}
				}
				.clc_center_wipe:nth-of-type(2){
					margin-top: 28px;
				}
				
			}
			.case_left_bottom{
				width: 220px;
				height: 176px;
				margin: 24px auto 0;
				img{
					width: 100%;
					height: 100&;
				}
			}
		}
		.case_right{
			width: 790px;
			overflow: hidden;
			.case_right_top{
				width: 100%;
				.page-wrap;
				.justifycontent;
				.case_bodyimg{
					position: relative;
					width: 570px;
					height: 406px;
					img{
						width: 100%;
						height: 100%;
					}
				}
				.case_bodylist{
					width: 200px;
					.bodylist_top{
						width: 180px;
						height: 30px;
						background: url(../img/case_top.png) no-repeat;
						background-size: 100% 100%;
						color:#d0f8fc;
						font-size: 16px;
						padding-top: 7px;
						padding-left:20px;
					}
					.bodylist_bot{
						position: relative;
						width: 200px;
						height:367px;
						.case_bot{
							display: inline-block;
							width:30px;
							height:367px;
						}
						.case_list{
							position: absolute;
							width: 188px;
							height:370px;
							overflow: hidden;
							top:0;
							right:0px;
							ul{
								width: 180px;
								li{
									width: 180px;
									font-weight: 500;
									font-size: 8px;
									margin-bottom: 26px;
									color: #81a9ac;
									.case_list_left{
										width: 160px;
									}
									.case_list_right{
										width: 20px;
										font-size: 12px;
										color: #f8a94c;
									}
								}
							}
						}
					}
				}
			}
			.case_right_bottom{
				margin-top: 50px;
				.case_right_vr{
					width: 74px;
				}
				.case_right_vr p{
					font-size: 54px;color: #9bccce;
				}
				.case_right_vr p:nth-of-type(1){
					width: 72px;
					border: 1px solid #497d91;
					span{
						display: inline-block;
						width: 50px;
						height: 8px;
						background: #f8a94c;
					}
				}
				.case_right_text{
					width: 282px;
					margin-left: 24px;
					img{
						display: inline-block;
						width: 9px;
						height: 78px;
						vertical-align: top;
						margin-right: 10px;
					}
					span{
						display: inline-block;
						width: 258px;
						font-size: 16px;
						padding-top:20px;
						color: #d0f8fc;
					}
				}
				.case_right_rate{
					.rate_right{
						position: relative;
						background: url(../img/rate.png) no-repeat right top;
						width: 85px;
						height: 85px;
						.rate_right_num{
							position: absolute;
							color: #d0f8fc;
							font-size: 24px;
							top:0;
							left:50%;
							top:50%;
							transform:translate(-50%,-50%);
						}
					}
					.rate_left{
						width:280px;
						border-left: 1px solid #497d91;
						padding-left:20px;
						font-size: 6px;
						color:#9bccce;
						margin-left:20px;
						line-height: 22px;
					}
				}
			}
		}
	}
}
.footer{
	width: 84%;
	margin: -160px auto 0;
	position: relative;
	z-index: 100;
	color: #fff;
	.page-wrap;
	.justifycontent;
	.footer_left{
		width: 31%;
		margin-top: 60px;
		img{
			display: inline-block;
			width: 100%;
			height: auto;
		}
	}
	.footer_center{
		width: 38%;
		margin: 0 auto;
		ul{
			width: 100%;
			.page-wrap;
			.justifycontent;
			padding-left: 10px;
			li{
				width: 25%;
				img{
					width: 80%;
					height: auto;
				}
			}
		}
	}
}