.head {
  padding: 31px 30px 0 26px;
  display: -ms- flex;
  display: -webkit- flex;
  display: -o- flex;
  display: -moz- flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  color: #fff;
  font-size: 26px;
}
.head .head_left {
  display: -ms- flex;
  display: -webkit- flex;
  display: -o- flex;
  display: -moz- flex;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
}
.head .head_left .head_logo {
  width: 138px;
  height: 212px;
  background: url(../img/rimone.png) no-rapeat;
  background-size: 100% 100%;
}
.head .head_left .head_logo img {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin-top: 18px;
  margin-left: 22px;
}
.head .head_left .brightword {
  width: 390px;
  height: 75px;
  background: url(../img/rimtwo.png) no-rapeat;
  background-size: 100% 100%;
  position: relative;
  margin-top: 24px;
  margin-left: 8px;
}
.head .head_left .brightword .brightword_con {
  position: absolute;
  top: 18px;
  left: 16px;
}
.head .head_left .brightword .brightword_con p {
  font-size: 20px;
  color: #d99545;
  letter-spacing: 8px;
}
.head .head_left .brightword .brightword_con .brightone {
  color: #d99545;
  -webkit-animation: neon5 1s ease-in-out infinite alternate;
  -moz-animation: neon5 1s ease-in-out infinite alternate;
  animation: neon5 1s ease-in-out infinite alternate;
}
.head .head_left .brightword .brightword_con .brightwo {
  font-size: 9px;
  letter-spacing: 0.5px;
  color: #a0d7e0;
  margin-top: 2px;
}
.head .head_center {
  width: 48px;
  height: 100px;
}
.head .head_right {
  width: 1278px;
  height: 181px;
  background: url(../img/rimthree.png) no-rapeat;
  background-size: 100% 100%;
  position: relative;
}
.head .head_right .head_num {
  width: 75%;
  line-height: 30px;
  margin-top: 14px;
  margin-right: 24px;
  border: 1px solid #355c68;
  font-size: 18px;
  text-align: center;
  color: #c3e9ed;
  position: relative;
}
.head .head_right .head_num .rimfourgif {
  position: absolute;
  width: 440px;
  height: 23px;
  top: 3px;
  left: 50%;
  transform: translate(-50%);
}
.head .head_right .point {
  position: absolute;
  top: 3px;
  left: 19.4%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #f8a94c;
  -webkit-animation: opacityhidenthree 4s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate;
  -moz-animation: opacityhidenthree 4s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate;
  animation: opacityhidenthree 4s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate;
}
.head .head_right .pointwo {
  left: 20%;
  -webkit-animation: opacityhidenthree 3s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate;
  -moz-animation: opacityhidenthree 3s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate;
  animation: opacityhidenthree 3s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate;
}
.head .head_right .pointhree {
  left: 20.6%;
  -webkit-animation: opacityhidenthree 2s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate;
  -moz-animation: opacityhidenthree 2s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate;
  animation: opacityhidenthree 2s cubic-bezier(0.47, 0, 0.75, 0.72) infinite alternate;
}
@-webkit-keyframes neon5 {
  from {
    text-shadow: 0 0 10px #fff,
		           	0 0 20px  #fff,
		           	0 0 30px  #fff,
		            0 0 40px  #FF9900,
		            0 0 70px  #FF9900,
		            0 0 80px  #FF9900,
		            0 0 100px #FF9900,
		            0 0 150px #FF9900;
  }
  to {
    text-shadow: 0 0 5px #fff,
		            0 0 10px #fff,
		            0 0 15px #fff,
		            0 0 20px #FF9900,
		            0 0 35px #FF9900,
		            0 0 40px #FF9900,
		            0 0 50px #FF9900,
		            0 0 75px #FF9900;
  }
}
@-webkit-keyframes opacityhidenone {
  from {
    left: 20.6%;
  }
  to {
    left: 62.8%;
  }
}
@-webkit-keyframes opacityhidentwo {
  from {
    left: 20%;
  }
  to {
    left: 62.8%;
  }
}
@-webkit-keyframes opacityhidenthree {
  from {
    left: 19.4%;
  }
  to {
    left: 62.8%;
  }
}
.corps {
  height: 886px;
  padding-left: 18px;
  padding-right: 22px;
  position: relative;
  display: -ms- flex;
  display: -webkit- flex;
  display: -o- flex;
  display: -moz- flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  color: #fff;
}
.corps .corps_left {
  width: 58px;
  height: 720px;
  background: url(../img/rimleft.png) no-rapeat;
  background-size: 100% 100%;
  margin-top: -74px;
}
.corps .corps_center {
  width: 960px;
  height: 866px;
  margin-top: -24px;
  margin: 0 auto;
  overflow: hidden;
}
.corps .corps_center .corps_center_top {
  width: 100%;
  display: -ms- flex;
  display: -webkit- flex;
  display: -o- flex;
  display: -moz- flex;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
}
.corps .corps_center .corps_center_top .corps_center_top_cone {
  width: 30%;
  display: -ms- flex;
  display: -webkit- flex;
  display: -o- flex;
  display: -moz- flex;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  -o-justify-content: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.corps .corps_center .corps_center_top .corps_center_top_cone .corps_center_top_left {
  width: 108px;
  height: 204px;
  position: relative;
}
.corps .corps_center .corps_center_top .corps_center_top_cone .corps_center_top_left .icon {
  position: absolute;
  left: 32px;
  top: 12px;
  width: 32px;
  height: 32px;
}
.corps .corps_center .corps_center_top .corps_center_top_cone .corps_center_top_left .icon img {
  display: inline-block;
  width: 32px;
  height: 32px;
}
.corps .corps_center .corps_center_top .corps_center_top_cone .corps_center_top_right {
  width: 148px;
  height: 180px;
  margin-top: 16px;
  margin-left: 12px;
  position: relative;
}
.corps .corps_center .corps_center_top .corps_center_top_cone .corps_center_top_right img {
  width: 148px;
  height: 188px;
  display: block;
}
.corps .corps_center .corps_center_top .corps_center_top_cone .corps_center_top_right .position {
  position: absolute;
  top: -40px;
  font-size: 10px;
  color: #427082;
  width: 209px;
  font-family: Airal;
  border-bottom: 1px dashed #3f4c50;
  padding-bottom: 14px;
  padding-left: 44px;
  left: -44px;
}
.corps .corps_center .corps_center_top .corps_center_top_cone .corps_center_top_right .instro {
  position: absolute;
  right: 0;
  top: 213px;
  width: 204px;
  height: 65px;
  background: url(../img/lone.png) no-rapeat;
  background-size: 100% 100%;
}
.corps .corps_center .corps_center_top .corps_center_top_cone .corps_center_top_right .instro span {
  display: inline-block;
  width: 148px;
  position: absolute;
  right: 0;
  text-align: center;
  color: #c4eaee;
  font-size: 10px;
  top: 8px;
}
.corps .corps_center .corps_center_top .corps_center_top_cone .corps_center_top_right .instrotwo {
  width: 380px;
  background: url(../img/ltwo.png) no-rapeat;
  background-size: 100% 100%;
}
.corps .corps_center .corps_center_top .corps_center_top_cone .corps_center_top_right .instrothree {
  width: 350px;
  background: url(../img/lthee.png) no-rapeat;
  background-size: 100% 100%;
}
.corps .corps_center .corps_center_top .corps_center_top_ctwo {
  margin-left: 6px;
  margin-top: 5px;
}
.corps .corps_center .corps_center_top .corps_center_top_ctwo p {
  color: #3a6272;
  font-size: 8px ;
  margin-top: 4px;
}
.corps .corps_center .corps_center_body {
  width: 100%;
  height: 10px;
  position: relative;
  margin-top: 84px;
}
.corps .corps_center .corps_center_body img {
  display: block;
  width: 100%;
  height: 10px;
}
.corps .corps_center .person_instro {
  width: 666px;
  height: 130px;
  margin: 34px auto 0;
  position: relative;
}
.corps .corps_center .person_instro img {
  display: inline-block;
  width: 666px;
  height: 130px;
}
.corps .corps_center .person_instro .instro_text {
  display: none;
  width: 666px;
  margin: 0 auto;
  font-size: 16px;
  color: #3a6272;
  text-align: left;
}
.corps .corps_center .person_instro .instro_text p {
  font-family: "微软雅黑";
  line-height: 24px;
}
.corps .corps_right {
  width: 58px;
  height: 720px;
  background: url(../img/rimright.png) no-rapeat;
  background-size: 100% 100%;
  margin-top: -74px;
}
.footer {
  width: 84%;
  margin: -326px auto 0;
  position: relative;
  z-index: 100;
  color: #fff;
  display: -ms- flex;
  display: -webkit- flex;
  display: -o- flex;
  display: -moz- flex;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
}
.footer .footer_left {
  width: 31%;
  margin-top: 60px;
}
.footer .footer_left img {
  display: inline-block;
  width: 100%;
  height: auto;
}
.footer .footer_center {
  width: 30%;
  margin: 0 auto;
}
.footer .footer_center ul {
  width: 100%;
  display: -ms- flex;
  display: -webkit- flex;
  display: -o- flex;
  display: -moz- flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  padding-left: 10px;
}
.footer .footer_center ul li {
  width: 25%;
}
.footer .footer_center ul li a {
  display: inline-block;
  width: 100%;
}
.footer .footer_center ul li a img {
  width: 80%;
  height: auto;
}
.footer .footer_center ul li:nth-of-type(2) {
  margin: 0 20px;
}
