html,
body,
ul,
li,
dd,
p,
h1,
h2,
h3,
h4,
h5,
th,
td,
dl,
h6,
form,
fieldset,
legend,
img,
input,
textarea,
select,
section {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  font-family: "微软雅黑";
}
a,
img {
  border: 0;
  text-decoration: none;
  font-style: "微软雅黑";
}
body {
  background: #f8f8f8;
  position: relative;
}
.clear {
  zoom: 1;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clear:after {
  content: "";
  clear: both;
  display: block;
  height: 0;
  line-height: 0;
}
